<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Mon projet pokémon</h1>

    {% block body %}{% endblock %}

    <footer>
        &copy; 2019 Pokélex
    </footer>
</body>